* {
    margin: 0;
    padding: 0;

}

body {
    background-color: rgb(0, 0, 0);
}
.mlogo{
    margin-top: 2%;
}
.mlogo2{
    
    margin-top: 2%;
    

}

.p1 {
    background-color: rgb(4, 4, 92);
    background-image: linear-gradient(to right, black, rgb(4, 4, 92), black);

}

#up {
    color: white;
    letter-spacing: 1.1px;
    text-align: center;
    font-weight: 100;
    font-size: 1.2rem;

    transform: translateY(100px);
}

.img1 {
    align-items: center;
    height: 75vh;

    transform: translate(5%, -50%);
    width: 75vh;
}

.p1img {
    align-items: center;
    text-align: center;
}

.img2 {
    transform: translate(-660%, -800%);
    width: 50px;
    animation: infinite 6s updown;
}
@media only screen and (max-width: 720px) {
    .img2 {
    margin: auto;
    display: block;
    animation: none;
    transform: translate(0%, -1000%);
    width: 25px;
    }
    .img1{
      margin: auto;
      display: block;
       height: 400px;
       width: 400px;
    transform: translate(0%, -50%);
    }

}
.p2m p {
    color: white;
    width: 65%;
    font-size: 4rem;
    font-weight: 900;

}
.p2m {
    padding: 10px;
    display: flex;
    justify-content: space-between;
}

.btns {
    margin-top: 50px;
    margin-bottom: 10px;
}

.btns button {
    padding: 15px;
    background-color: transparent;
    color: white;
    font-size: 1.2rem;
    font-weight: 800;
    margin: 20px;
    border: none;
    border: solid;
    border-color: transparent;
    border-width: 1px;
    cursor: pointer;

}
.alpha {

    color: white;
    margin: auto;
    width: 95%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

.alpha span {
    font-size: 3.5rem;
    border: solid;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;

    border-width: 0.5px;
    border-color: rgb(96, 98, 100);
}
.video2 {
    width: 30%;
}
.hubotsans {
    margin-top: 100px;
    margin-bottom: 100px;
    display: flex;
    justify-content: space-between;

}
.hstop div {
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.hubotsans div {
    width: 65%;

    color: white;
    display: inline-block;
}

.hubotsans div span {
    font-size: 4.5rem;
    font-weight: bold;
}
.p6{
    margin-top: 300px;
    color: white;
    align-items: center;
    text-align: center;
   
}
.license{
    margin-top: 5%;
    font-size: 1.6rem;

}
.p6 div{
    
    margin: auto;
    
    
}

.svgdiv{
    width: 100%;

}
.open{
    font-size: 6rem;
    font-weight: bold;

}
.free{
    font-size: 6rem;
    font-weight: bold;
    color: rgb(156, 158, 158);
}
.last{
    width: 30%;
    margin: auto;
    font-weight: bold;
    transform: translateY(-300px);
    font-size: 3.5rem;
}
.Mona {
    text-align: center;
    display: block;
    color: white;
    font-size: 10rem;
    font-weight: bold;    
}


@keyframes updown {
    0% {
        transform: translate(-660%, -800%);
    }

    50% {
        transform: translate(-660%, -850%);
    }

    100% {
        transform: translate(-660%, -800%);
    }
}

.textup {
    text-align: center;
    transform: translateY(100px);
}









.p2 {
    background-color: rgb(0, 0, 0);
    transform: translateY(-100px);

}

.onhoverbold {
    color: white;
    font-size: 3rem;
    font-weight: 100;
    margin: auto;
    text-align: center;

}

.onhoverbold span:hover {
    font-weight: bold;
    font-size: 3rem;
}

.p2t {
    margin: auto;
    width: 85%;
}

.p2h {
    color: white;
    display: flex;
    justify-content: space-between;
}

.p2h span {
    font-size: 5rem;
    font-weight: bold;
}




.sketch1 {
    width: 100%;

}



.btns button:hover {

    border-color: white;

}

.planet {
    border-style: solid;
    border-width: 2px;
    border-color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 33%);
    height: 200vh;
    width: 100%;
    border-radius: 100%;
    background-image: linear-gradient(180deg,rgb(1, 1, 18) , black);
}



.alpha span:hover {
    font-weight: bold;
}











.btns .btn1 {
    border-style: solid;
    border-width: 1px;
    border-color: rgb(192, 184, 184);
}

.p3 {
    background: blue;
}

.p3 p{
    margin-top: 100px;
    color: white;
    font-size: 4.5rem;
}











.p5 {

    background-color: #d2a8ff;
    background-image: linear-gradient(180deg, #aa60f9, #3c1e5d);
}





.p5last {
    color: white;
    text-align: center;
    width: 40%;
    margin: auto;
    font-weight: 800;
    font-size: 3rem;
}

.p5last:hover {
    text-decoration: underline white;
}
.foot{
    background-color: #121213;
    height: 8vh;

}
.ft{
    display: flex;
    justify-content: space-between;
}
.icons{
    margin-right: 10%;
    margin-top: 1%;    display: flex;
    justify-content: space-between;
    width: 12%;
}
.icons li a{
    text-decoration: none;
    
}
.icons li {

    list-style: none;
}
.sr-only{
    display: none;
    
}
.lastbox{
   text-align: center;
    display: flex;
    width: 30%;
    margin-top: 1%;
    margin-left: 5%;
    justify-content: space-between;
    color: rgb(192, 183, 183);
}
.lastbox li{
    color: rgb(204, 204, 204);
    list-style: none;
}
.lastbox li a{
    color: rgb(204, 204, 204);
    text-decoration: none;
}
#shipit{
    
    color: white;
    display: block;
 
        font-family: 'Mona Sans';
        src:
          url('Mona-Sans.woff2') format('woff2 supports variations'),
          url('Mona-Sans.woff2') format('woff2-variations');
        font-weight: 200 900;
        font-stretch: 75% 125%;
      
}
@font-face {
    font-family: 'Mona Sans';
    src:
      url('Mona-Sans.woff2') format('woff2 supports variations'),
      url('Mona-Sans.woff2') format('woff2-variations');
    font-weight: 200 900;
    font-stretch: 75% 125%;
  }
  
  @font-face {
    font-family: 'Mona Sans';
    src:
      url('Mona-Sans.woff2') format('woff2 supports variations'),
      url('Mona-Sans.woff2') format('woff2-variations');
    font-weight: 200 900;
    font-stretch: 75% 125%;
  }
  
  @media only screen and (max-width: 1300px) {
    .p2m p{
        font-size: 3rem;
        
    }
    .alpha span{
        font-size: 3rem;
    }
    
}
@media only screen and (max-width: 1100px) {
    .p2m p{
        font-size: 2.2rem;
    }
    .alpha span{
        font-size: 2.5rem;
    }
    
}
.hstop div img {
    float: right;

}

.hstop p {
    width: 80%;
    font-size: 3rem;
    font-weight: 400;
}
.cutevide{
    height: 360;
    width: 360;
    display: block;
}
.p4imges {
    margin-top: 200px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.p4imges img {
    margin: 10px;
    margin-top: 40px;
}

.poster1 {
    
    transform: translateY(120px);
}

.poster4 {
    
    transform: translateY(120px);
}

.poster3 {

    transform: translateY(70px);
}

.poster6 {
  
    transform: translateY(70px);
}
.p4top {
    margin-top: 200px;
    display: flex;
    justify-content: space-between;

}
.p4top1 {
    margin-top: 5%;
    width: 60%;
    font-size: 6rem;
}
.p4top2 {

    justify-content: center;
    width: 30%;

}

.p4top2 p {
    float: left;
    font-size: 1.3rem;
    font-weight: 600;
}
.p4 {
    color: white;
    width: 85%;
   
    margin: auto;
    font-weight: bold;
    font-stretch: extra-expanded;
}
.animatebox {
    height: 100vh;

    color: white;
    text-align: center;
    font-size: 10rem;
    font-weight: 700;
}
.p5img {
    display: block;
    margin: auto;
    bottom: 0;
    width: 100%;
}
.hubot {
    text-align: center;
    display: block;
    color: white;
    font-size: 10rem;
    font-weight: bold;
    transform: translateY(-230px);
    z-index: -1;
}
.and {
    text-align: center;
    display: block;
    color: #8b949e;
    font-size: 10rem;
    font-weight: bold;
    font-family: "Mona Sans", "Mona Sans Header Fallback", -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol" !important;
    font-weight: 800 !important;
    transform: translateY(-110px);
    z-index: 1;

}
.sans {
    text-align: center;
    display: block;
    color: white;
    font-size: 10rem;
    font-weight: bold;
    transform: translateY(-300px);
    z-index: -1;
    font-style: italic;
}

@media only screen and (max-width: 800px) {
    .lastbox{
        display: block;
    }
    .last{
        width: 30%;
        margin: auto;
        font-weight: bold;
        transform: translateY(-300px);
        font-size: 1rem;
    }
    .p5img {
        display: block;
        margin: auto;
        bottom: 0;
    }
    .p4top{
        display: block;
    }
    .p4top1{
        width: 100%;
    }
    .p4top2{
        text-align: center;
        justify-content: center;
        width: 100%;
    }
    .animatebox{
        font-size: 4rem;
    }
   .p4imges{
    
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 100%;
   }
    
    .cutevideo{
        display: block;
        margin: auto;
    }
    .p2m{
        width: 100%;
        display: block;
    }
    .p2m p{
        width: 100%;
        transform: translateY(300px);
    }
    .imgdiv{
        transform: translateY(-300px);
        display: block;
    }
    .btns button{
        width: 100%;
    }
    .alpha span{
        font-size: 2rem;
    }
    .video2 {
        width: 100%;
    }
    .hubotsans {
        margin-top: 100px;
        margin-bottom: 100px;
        display: block;
        width: 100%;
        
    }
    .hubotsans div{
        width: 100%;
    }
    .hstop{
        margin: auto;
        display: block;
        width: 100%;
        
    }
    .hstop div {
        display: block;
        width: 100%;
        
        
    }
    .hstop p{
        width: 100%;
    }
    .btns{
        width: 100%;
    }
    .p2h span{
        font-size: 3rem;
    }
    .svgdiv{
        display: block;
    }
    .icons{
        display: block;
    }
    .open{
        font-size: 5rem;
    }
    .free{
        font-size: 5rem;
    }
    .project{
        overflow-x: hidden;
    }
    
}
@media only screen and (max-width: 500px){
    
  
  .Mona{
    font-size: 6rem;
  }
  .hubot{
    transform: translateY(-160px);
    font-size: 6rem;
  }
  .and{
    transform: translateY(-80px);
    font-size: 6rem;
  }
  .sans{
    font-size: 6rem;
    transform: translateY(-200px);

  }
  .p2h span{
    font-size: 3rem;
  }
  .onhoverbold{
    font-size: 2rem;
  }
  .p2m p{
    font-size: 2rem;
  }
  .hstop  div span{
    font-size: 2.6rem;
  }
  .alpha{
    margin-bottom: 50px;
  }
  .alpha span{
    font-size: 1rem;
  }
  .p4top1{
    font-size: 3rem
  }
  .hstop p{
    font-size: 2rem;
  }
  .p2m p{
    font-size: 2rem;
    font-weight: 500;
  }
  .onhoverbold {
    margin-bottom: 20px;
   }
}
@media only screen and (max-width: 400px){
   .p2h span{
    font-size: 2.6rem;
   }
   #para{
    font-size: 1.6rem;
    transform: translateY(200px);
   }
   .mlogo{
    transform: translateY(0);
   }
   .imgdiv{
    transform: translateY(-220px);
   }
   .onhoverbold span{
    font-size: 1.6rem;
   }
   .onhoverbold {
    margin-bottom: 20px;
   }
}